extends ../layoutAlumnos
block page
    div 
        div.mt-5 
            a.btn.btn-outline-secondary.btn-sm(href="/home/verMateriasRegistradas") Volver atrás
            h3.mt-3 Horarios de #{materia.nombre_materia}
            p Fecha inicio: #{materia.fecha_inicio_cursada}
            p Fecha finalización: #{materia.fecha_fin_cursada}
            p Profesores: #{profesores}
            table(class= "table table-striped")
                tr 
                    th Dia de cursada
                    th Hora desde
                    th Hora hasta 
                each horario in horarios
                    tr
                        each d, index in dias
                            if index+1 == horario.dia_cursado
                                td #{d}
                        td #{horario.hora_desde}
                        td #{horario.hora_hasta}
            if horarios.length == 0
                p.text-center No existen horarios asignados.