extends ../layoutAlumnos
block page
    div 
        div.mt-3 
            a.btn.btn-outline-secondary.btn-sm(href="/home/verMateriasRegistradas") Volver atrás
            h3.mt-3 Horarios de #{materia.nombre_materia}
            p Fecha inicio: #{moment(materia.fecha_inicio_cursada).format('DD-MM-YYYY')}
            p Fecha finalización: #{moment(materia.fecha_fin_cursada).format('DD-MM-YYYY')}
            p Profesores: #{profesores}
            p.text-danger ATENCIÓN! El registro de la asistencia debe realizarse dentro de los 30 primeros minutos del horario de la clase :
            table(class= "table table-striped")
                tr 
                    th Dia de cursada
                    th Hora desde
                    th Hora hasta 
                    th
                each horario in horarios
                    tr
                        each d, index in dias
                            if index+1 == horario.dia_cursado
                                td #{d}
                        td #{horario.hora_desde}
                        td #{horario.hora_hasta}
                        td 
                            if horario.dia_cursado == diaActual
                                if !yaAsistio
                                    if moment.duration(horaActual.diff(moment(horario.hora_desde, "h:mm"))).asMinutes() <= 30 && moment.duration(horaActual.diff(moment(horario.hora_desde, "h:mm"))).asMinutes()>=0
                                        form(action="/home/nuevaAsistencia/"+horario.id_horario+"/"+materia.id_materia, method="post") 
                                            input.btn.btn-outline-success.btn-sm(type="submit", value="Asistir")
                                    else 
                                        span.badge.text-bg-danger Fuera de horario.
                                else 
                                    span.badge.text-bg-success Se registro asistencia.
            if horarios.length == 0
                p.text-center No existen horarios asignados.