extends ../layoutCoordinadores
block page
    div 
        div.mt-3
            h4 Nueva materia
            .row 
                .col-6  
                    form(action="/home/nuevaMateria", method="post")
                        div.mb-3
                            Label.form-label Nombre:
                            if body && body.nombre
                                input.form-control(type="text" name="nombre" value=body.nombre)
                            else
                                input.form-control(type="text", name="nombre")
                        div.mb-3
                            Label.form-label Inicio cursada:
                            if body && body.fecha_inicio
                                input.form-control(type="date", name="fecha_inicio", value=body.fecha_inicio, min=body.fecha_inicio)
                            else
                                input.form-control(type="date", name="fecha_inicio", value=fecha, min=fecha) 
                        div.mb-3
                            Label.form-label Fin cursada:
                            if body && body.fecha_fin
                                input.form-control(type="date", name="fecha_fin", value=body.fecha_fin, min=body.fecha_fin)
                            else
                                input.form-control(type="date", name="fecha_fin", value=fecha, min=fecha)
                        div.mb-3
                            input.btn.btn-success(type="submit", value="Confirmar")
                    if mensaje && mensaje.length > 0
                        div(class="mt-3")
                            if mensaje[0].esError
                                div(class="alert alert-danger" role="alert")
                                    span #{mensaje[0].mensaje}
                            else 
                                div(class="alert alert-success" role="alert")
                                    span #{mensaje[0].mensaje}